In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg, min, max, count

spark = SparkSession.builder.appName("CarDatasetAnalysis").getOrCreate()

df = spark.read.csv("car_price_dataset.csv", header=True, inferSchema=True)

df.show(5)



# Find the most and least expensive cars
most_expensive = df.orderBy(col("Price").desc()).select("Brand", "Model", "Price").first()
least_expensive = df.orderBy(col("Price").asc()).select("Brand", "Model", "Price").first()

print(f"Most Expensive Car: {most_expensive}")
print(f"Least Expensive Car: {least_expensive}")

# Count the number of cars per brand
brand_counts = df.groupBy("Brand").agg(count("*").alias("Count"))
brand_counts.show()

# Compute average, min, and max mileage
mileage_stats = df.agg(
    avg("Mileage").alias("Avg_Mileage"),
    min("Mileage").alias("Min_Mileage"),
    max("Mileage").alias("Max_Mileage")
)

mileage_stats.show()

+----------+------+----+-----------+---------+--------------+-------+-----+-----------+-----+
|     Brand| Model|Year|Engine_Size|Fuel_Type|  Transmission|Mileage|Doors|Owner_Count|Price|
+----------+------+----+-----------+---------+--------------+-------+-----+-----------+-----+
|       Kia|   Rio|2020|        4.2|   Diesel|        Manual| 289944|    3|          5| 8501|
| Chevrolet|Malibu|2012|        2.0|   Hybrid|     Automatic|   5356|    2|          3|12092|
|  Mercedes|   GLA|2020|        4.2|   Diesel|     Automatic| 231440|    4|          2|11171|
|      Audi|    Q5|2023|        2.0| Electric|        Manual| 160971|    2|          1|11780|
|Volkswagen|  Golf|2003|        2.6|   Hybrid|Semi-Automatic| 286618|    3|          3| 2867|
+----------+------+----+-----------+---------+--------------+-------+-----+-----------+-----+
only showing top 5 rows

Most Expensive Car: Row(Brand='Toyota', Model='Corolla', Price=18301)
Least Expensive Car: Row(Brand='BMW', Model='X5', Price=2000)
+----------+-----+
|     Brand|Count|
+----------+-----+
|Volkswagen| 1020|
|       Kia|  976|
| Chevrolet| 1003|
|   Hyundai|  995|
|     Honda| 1009|
|      Audi| 1038|
|  Mercedes|  942|
|       BMW|  999|
|    Toyota|  970|
|      Ford| 1048|
+----------+-----+

+-----------+-----------+-----------+
|Avg_Mileage|Min_Mileage|Max_Mileage|
+-----------+-----------+-----------+
|149239.1118|         25|     299947|
+-----------+-----------+-----------+

In [ ]:
print(df.count())

10000

In [ ]:
df2 = df.dropna()

In [ ]:
print(df2.count())

10000

In [ ]:
print(df.count())  # Original count
df = df.dropDuplicates()
print(df.count())

10000
10000

In [ ]:
df = df.toDF(*[col.lower().replace(" ", "_") for col in df.columns])
df.printSchema()

root
 |-- brand: string (nullable = true)
 |-- model: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- engine_size: double (nullable = true)
 |-- fuel_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- mileage: integer (nullable = true)
 |-- doors: integer (nullable = true)
 |-- owner_count: integer (nullable = true)
 |-- price: integer (nullable = true)

In [ ]:
# Remove cars with unrealistic prices (e.g., below $500 or above $200,000)
df = df.filter((df.price > 500) & (df.price < 200000))

# Remove cars with extreme mileage (e.g., above 500,000 miles)
df = df.filter(df.mileage < 500000)

In [ ]:
print(df.count())

10000

In [ ]:
df.describe().show()  # Summary statistics
df.printSchema()      # Check column types
df.show(5)

+-------+----------+--------+-----------------+------------------+---------+--------------+-----------------+------------------+------------------+-----------------+
|summary|     brand|   model|             year|       engine_size|fuel_type|  transmission|          mileage|             doors|       owner_count|            price|
+-------+----------+--------+-----------------+------------------+---------+--------------+-----------------+------------------+------------------+-----------------+
|  count|     10000|   10000|            10000|             10000|    10000|         10000|            10000|             10000|             10000|            10000|
|   mean|      NULL|    NULL|        2011.5437|3.0005599999999926|     NULL|          NULL|      149239.1118|            3.4971|            2.9911|        8852.9644|
| stddev|      NULL|    NULL|6.897698756455953|1.1493240539456653|     NULL|          NULL|86322.34895733817|1.1100967622158655|1.4226816904421182|3112.596810289274|
|    min|      Audi|3 Series|             2000|               1.0|   Diesel|     Automatic|               25|                 2|                 1|             2000|
|    max|Volkswagen|      X5|             2023|               5.0|   Petrol|Semi-Automatic|           299947|                 5|                 5|            18301|
+-------+----------+--------+-----------------+------------------+---------+--------------+-----------------+------------------+------------------+-----------------+

root
 |-- brand: string (nullable = true)
 |-- model: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- engine_size: double (nullable = true)
 |-- fuel_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- mileage: integer (nullable = true)
 |-- doors: integer (nullable = true)
 |-- owner_count: integer (nullable = true)
 |-- price: integer (nullable = true)

+---------+--------+----+-----------+---------+--------------+-------+-----+-----------+-----+
|    brand|   model|year|engine_size|fuel_type|  transmission|mileage|doors|owner_count|price|
+---------+--------+----+-----------+---------+--------------+-------+-----+-----------+-----+
|Chevrolet|  Impala|2013|        4.8|   Petrol|        Manual| 206381|    4|          4| 8672|
|      Kia|Sportage|2000|        2.8| Electric|Semi-Automatic| 264697|    2|          5| 3606|
|   Toyota|   Camry|2023|        1.5|   Diesel|        Manual| 117049|    2|          5|10159|
|     Ford|Explorer|2006|        1.6|   Hybrid|Semi-Automatic| 235768|    5|          2| 3784|
|     Audi|      A3|2005|        2.3| Electric|        Manual| 112828|    3|          2| 7643|
+---------+--------+----+-----------+---------+--------------+-------+-----+-----------+-----+
only showing top 5 rows

In [ ]:
df = df.filter(
    (col("brand") != "NULL") |
    (col("model") != "NULL") |
    (col("fuel_type") != "NULL") |
    (col("transmission") != "NULL")
)
print(df.count())

10000